<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>JUKEBOX</title>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.jpg}">
    </head>
<body>

<header>
    <style class="background-image">
        body {
            background: url("/img/background.jpg");
        }
    </style>
    <div class="nav-item">
<!--    <article class="home" >-->
<!--        <a href="/">-->
<!--            <img src="/img/favicon.png" alt="HOME" >-->
<!--        </a>-->
<!--    </article>-->

    </div>
</header>
</body>
<footer>
    <p class="author-name">Author: Konstantina Vasileva</p>
</footer>
</html>