<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="dashboard" class="sidebar">
    <div class="toggle-btn" onclick="toggleSidebar()">
        <span>&#9664;</span>
    </div>
    <div class="user-info">
        <h3 >Username</h3>
        <p><strong>Role:</strong> P</p>
        <p><strong>Comments:</strong> <span >0</span></p>

        <section>
        <input type="text" id="searchQuery" placeholder="Search..." class="search-box">
        <select id="category">
            <option value="genre">Genre</option>
            <option value="band">Band</option>
            <option value="album">Album</option>
            <option value="song">Song</option>
        </select>
        <button class="search-btn" onclick="search()">🔍</button>
        </section>
        <ul id="results">
        </ul>
        <form th:href="@{/users}" >
            <button class="all-users-btn">All Users</button>
        </form>

        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </div>
</div>
</body>
</html>


