.details-container {
    padding: 20px;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #13c651;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

body{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 1px 1px rgb(215, 95, 95);
    color: #ebeef1;
    margin: 100px 0 0 330px;
}

.songs{
    display: none;
}

.album{
    cursor: pointer;
}