form {
    /*height: 300px;*/
    margin-left: 475px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid #f1f1f1;
    border-radius: 5px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

button {
    background-color: #04AA6D;
    border-radius: 4px;
    color: white;
    padding: 14px 20px;
    margin: 8px 19px;
    border: none;
    cursor: pointer;
    width: 40%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    padding: 14px 18px;
    background-color: #f44336;
}

.container {
    padding: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

h1.text-center.mt-2 {
    margin-left: 110px;
}

button {
    align-items: center;
}

label, h1, p {
    display: flex;
    justify-content: center;
    color: white;
}

.alert-danger {
    display: flex;
    justify-content: center;
    color: red;
    text-shadow: 1px 1px #1e1e1e;
}