article img {
    width: 30px;
    height: 30px;
    padding-left: 5px;
}

.nav-item {
    background-color: rgba(204, 102, 0, .05);
    box-shadow: 0 3px 8px rgba(60, 60, 60, 0.2);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2px 4px;
    margin: 0 10px;
}

header nav ul {
    padding: 20px 5px;
    margin: 0;
    list-style: none;
    display: flex;
}

.nav-link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.background-image {
    align-items: center;
}