<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/album-add.css">
<head th:replace="~{fragments/common :: head}">
<body>
<style class="background-image">
    body{
        background: url("/img/add-album.jpg") no-repeat fixed center;
        background-size: cover;
        height: 100vh;
        margin: 0;
    }
</style>
<div class="form-container">
    <h2>Add New Album</h2>
    <form th:action="@{/artist/{id}/add/album(id=${band.id})}" th:method="POST" th:object="${newAlbum}">
        <div class="form-group">
            <label for="title">Album Title:</label>
            <input type="text" placeholder="Title" id="title" name="title" th:field="*{title}" required>
        </div>
        <span class="alert-danger"
              th:if="${#fields.hasErrors()}"
              th:errors="*{title}"></span>

        <div class="form-group">
            <label for="releaseDate">Release Date:</label>
            <input type="number" placeholder="Release Date" id="releaseDate" name="releaseDate" th:field="*{releaseDate}" required>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" placeholder="Description" name="description" rows="4" th:field="*{description}" required></textarea>
        </div>

        <button type="submit" class="btn-submit">Add Album</button>
    </form>
</div>
</body>
</html>