<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="/css/details.css">
<head th:replace="~{fragments/common::head}">
<body th:style="|background-image: url('${band.image}');|">

<main class="details-container">
    <section>
        <h2 th:text="'Band: ' + ${band.name}"></h2>
        <p><strong>Formed:</strong> <span th:text="${band.formed}"></span></p>
        <p><strong>Description:</strong> <span th:text="${band.description}"></span></p>
        <p><strong>Genre:</strong> <span th:text="${band.genre.name}"></span></p>
        <p><strong>Albums:</strong>
        <ul th:each="album : ${band.albums}">
            <li>
                <span class="album" onclick="toggleSongs(this)" th:text="${album.title}"></span>
                <ul class="songs">
                    <li th:each="song : ${album.songs}" th:text="${song.title}"></li>
                </ul>
                <section th:if="${album.songs == null}">
                    <p>No details available.</p>
                </section>
            </li>
        </ul>
        <div class="button-container">
            <div class="comment">
                <button type="button">
                    <a th:href="@{/comments/{id}(id=${band.id})}">Comments</a>
                </button>
            </div>

            <div class="add-album" th:if="${role == 'ARTIST'}">
                    <a th:href="@{/artist/{id}/add/album(id=${band.id})}">Add Album</a>
            </div>

            <div class="back">
                <button type="button">
                    <a th:href="@{/home}">Back</a></button>
            </div>
        </div>
    </section>
</main>
<script th:src="@{/js/band_details.js}"></script>
</body>
</html>
