<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/comments-all.css">
<head th:replace="~{fragments/common :: head}">
</head>
<body>
<h1 th:text="${band.name}">Band Name</h1>
<h2>Comments</h2>
<ul>
    <li th:each="comment : ${comments}" th:unless="${comment.deleted}"><span th:text="${comment.content}">Comment content</span>
        <a th:if="${loggedInUser.role.name() == 'ADMIN' or loggedInUser.id == comment.author.id}"
           th:href="@{/comments/delete/{id}(id=${comment.id})}">Delete</a>
        <a th:if="${loggedInUser.role.name() == 'MODERATOR'}"
           th:href="@{/comments/report/{id}(id=${comment.id})}">Report to ADMIN</a>
        <td th:if="${loggedInUser.role.name() == 'MODERATOR'
        or loggedInUser.role.name() == 'ADMIN'
        or loggedInUser.id == comment.author.id}">Reported</td>
    </li>
</ul>
<a th:href="@{/comments/add/{id}(id=${band.id})}">Add Comment</a>
<a th:href="@{/details/{id}(id=${band.id})}">Back</a>
</body>
</html>