<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>JUKEBOX</title>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    </head>
<body>

<header>
    <style>
        body {
            background-image: url("/img/background.jpg");
        }
    </style>
    <div class="nav-item">
    <article class="home" >
        <a href="/">
            <img src="/img/favicon.png" alt="HOME" >
        </a>
    </article>
    <nav>
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="/login">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">register</a>
            </li>
        </ul>
    </nav>
    </div>
</header>
</body>
<footer>
    <p>Author: Konstantina Vasileva</p>
</footer>
</html>