<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/comment-add.css">
<head th:replace="~{fragments/common :: head}"></head>
<body>
<form
        th:action="@{/comments/add/{id}(id=${band.id})}"
        th:method="post"
        th:object="${addComment}"
        id="comment">
    <h1 style="margin-bottom: 15px">Add Comment</h1>
    <label>
<textarea
        rows="4"
        cols="50"
        name="comment"
        form="comment"
        placeholder="Enter your comment"
        th:field="*{content}"></textarea>
        <span class="alert-danger"
              th:if="${#fields.hasErrors('content')}"
              th:errors="*{content}"></span>
    </label>
    <button type="submit">Submit</button>
</form>
</body>
</html>