<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link href="/css/error.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops! Lost in the Music</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/error-favicon.jpg}">
</head>
<body>
<div class="container">
    <div class="vinyl"></div>
    <h1>Oops! You're Offbeat 🎵</h1>
    <p>It looks like this page is out of tune. Let's get you back on track!</p>
    <a class="btn" th:href="@{/home}">Go Home</a>
</div>
</body>
</html>
