<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common::head">
    <link href="css/home.css" rel="stylesheet"/></head>
<body>
<header th:replace="common::header"></header>
<main class="nav-list-search">
    <p style="text-align: center">Welcome to Jukebox
    <br> Are you ready to listen to your music?
    </p>
    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">

    <ul id="myMenu">
        <li><a href="#">GENRE</a></li>
        <li><a href="#">BANDS</a></li>
        <li><a href="#">ALBUM</a></li>
        <li><a href="#">SONG</a></li>
    </ul>
</main>
</body>
</html>