<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/dashboard.css}">
<script src="/js/dashboard.js" defer></script>
<head th:replace="~{fragments/common::head}">
</head>
<body>
<header th:replace="~{fragments/common::header}"></header>
<div th:replace="~{fragments/dashboard.html}"></div>
<main class="nav-list-search">
    <p class="text" style="font-size: xxx-large;
    text-align: center;
    text-shadow: 1px 1px 1px wheat;
    color: black;">Welcome to Jukebox
        <br> Are you ready to listen to your music?
    </p>
</main>
<script src="/js/home.js"></script>
</body>
</html>