<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link href="/css/index.css" rel="stylesheet">
<head th:replace="~{fragments/common::head}"></head>
<body>
<header th:replace="~{fragments/common::header}"></header>
<nav>
    <ul>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/register}">register</a>
        </li>
    </ul>
</nav>
<main>
    <p class="introduction">
        Music is a form of art that uses sound organised in time.
        Music is also a form of entertainment that puts sounds
        together in a way that people like, find interesting or
        dance to.
        There is no simple definition of music which covers all cases.
        It is an art form, and opinions come into play.
        Music is whatever people think is music.
    </p>
</main>
</body>
<footer th:replace="~{fragments/common::footer}"></footer>
</html>