<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link href="/css/login.css" rel="stylesheet"/>
<head th:replace="~{fragments/common::head}">
</head>
<body>
<header th:replace="~{fragments/common::header}"></header>
<main class="login">

    <form th:action="@{/login}"
          th:method="post"
          th:object="${loginUserRequest}">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Login</span></h1>
        <span
                class="alert-danger"
                th:if="${errorMessage}"
                th:text="${errorMessage}"></span>
        <div class="container">
            <label th:for="username"><b>Username</b></label>
            <input
                    th:field="*{username}"
                    type="text" placeholder="Enter Username" name="username" id="username" required>

            <label th:for="password"><b>Password</b></label>
            <input
                    th:field="*{password}"
                    type="password" placeholder="Enter Password" name="password" id="password" required>


            <!--            <label>-->
            <!--                <input type="checkbox" checked="checked" name="remember"> Remember me-->
            <!--            </label>-->
        </div>

        <div class="buttons">
            <button type="submit">Login</button>
            <button type="button" class="cancelbtn">
                <a th:href="@{/}"> Cancel </a></button>
            <!--            <span class="psw"> <a href="#">Forgot password?</a></span>-->
        </div>
    </form>
</main>
</body>
</html>