<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/notifications.css}">
<head th:replace="~{fragments/common::head}">
</head>
<body>
<style>
    body {
        background-image: url("/img/notification-background.jpg");
    }
</style>
<main class="notifications-container">
    <h2>Notification</h2>

    <h3 th:text="${notification.title}">Notification Title</h3>
    <p th:text="${notification.body}">Notification Body</p>

    <div class="button-container">
        <form th:unless="${notification.readed} && ${user.role.name()!='ADMIN'}" th:action="@{/notifications/read/{id}(id=${notification.id})}"
              th:method="get">
            <button type="submit" class="mark-read-btn">Mark as Read</button>
        </form>

        <form th:action="@{/notifications/all/{id}(id=${user.id})}" th:method="get">
            <button type="submit" class="back-btn">Back</button>
        </form>
    </div>
</main>
</body>
</html>
