<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/users-all.css}">
<head th:replace="~{fragments/common::head}">
    <header>
        <style class="background-image">
            body {
                background: url("/img/all-users.jpg");
            }
        </style>
    </header>
<body>
<div class="container">
    <h2>User Management</h2>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Banned</th>
            <th>Role</th>
            <th>Deleted Comments</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>

            <td>
                <form method="post" th:action="@{/users/{id}/ban (id=${user.id})}">
                    <input type="hidden" name="userId" th:value="${user.id}">
                    <button type="submit" th:text="${user.banned ? 'Unban' : 'Ban'}"
                            th:classappend="${user.banned ? 'btn-unban' : 'btn-ban'}">
                    </button>
                </form>
            </td>

            <td>
                <form method="post" th:action="@{/users/{id}/role (id=${user.id})}">
                    <input type="hidden" name="userId" th:value="${user.id}">
                    <label>
                        <select name="role">
                            <option th:each="role : ${T(bg.softuni.Jukebox.user.Role).values()}" th:value="${role}"
                                    th:text="${role}" th:selected="${role == user.role}"></option>
                        </select>
                    </label>
                    <button type="submit" class="btn-update">Update</button>
                </form>
            </td>

            <td th:text="${deletedComments.get(user.id)}"></td>

            <td>
                <form th:method="delete" th:action="@{/users/{id}/delete(id=${user.id})}">
                    <input type="hidden" name="userId" th:value="${user.id}">
                    <button type="submit" class="btn-delete">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/home">
        <button type="button" class="btn-home">Go Home</button>
    </a>
</div>
</body>
</html>
